# Calculate Department Wise Annual Savings

In [1]:
import pandas as pd

In [2]:
budget = pd.read_excel('adobe.xlsx',sheet_name='Budget')
budget

         Date   Budget    Department
0  2020-01-01  51190.0         Sales
1  2020-01-01  52045.0    Operations
2  2020-01-01  89040.0       Account
3  2020-01-01  68362.0            IT
4  2020-01-01  73285.0            HR
5  2020-02-01  87031.0         Sales
6  2020-02-01  87117.0    Operations
7  2020-02-01  61568.0       Account
8  2020-02-01  70758.0            IT
9  2020-02-01  75861.0            HR
10 2020-03-01  59653.0         sales
11 2020-03-01  61869.0    operations
12 2020-03-01  50228.0       account
13 2020-03-01  51971.0            it
14 2020-03-01  84436.0            hr
15 2020-04-01  70144.0         Sales
16 2020-04-01  76554.0    Operations
17 2020-04-01  58489.0    Account
18 2020-04-01  78351.0            IT
19 2020-04-01  58458.0            HR
20 2020-05-01  78287.0         Sales
21 2020-05-01  82265.0    Operations
22 2020-05-01  72781.0   Account
23 2020-05-01  85421.0            IT
24 2020-05-01  78499.0            HR
25 2020-06-01  52687.0         Sales
26 2020-06-01  34567.0    Operations
27 2020-06-01  83929.0       Account
28 2020-06-01  58032.0            IT
29 2020-06-01  23451.0            HR
30 2020-07-01  90090.0         Sales
31 2020-07-01  74166.0    Operations
32 2020-07-01  82068.0       Account
33 2020-07-01  58584.0            IT
34 2020-07-01  50416.0            HR
35 2020-08-01  62363.0         Sales
36 2020-08-01  50173.0    Operations
37 2020-08-01  50952.0       Account
38 2020-08-01  56774.0            IT
39 2020-08-01  95039.0            HR
40 2020-09-01  56770.0         Sales
41 2020-09-01  45673.0    Operations
42 2020-09-01  83143.0       Account
43 2020-09-01  99493.0           IT
44 2020-09-01  60156.0            HR
45 2020-10-01  62184.0         Sales
46 2020-10-01  78358.0  Operations
47 2020-10-01  75353.0       Account
48 2020-10-01  86637.0            IT
49 2020-10-01      NaN         HR
50 2020-11-01  82481.0         Sales
51 2020-11-01  58316.0    Operations
52 2020-11-01  89473.0       Account
53 2020-11-01  88414.0            IT
54 2020-11-01  67806.0            HR
55 2020-12-01  72029.0         SALES
56 2020-12-01  68394.0    OPERATIONS
57 2020-12-01  50095.0       ACCOUNT
58 2020-12-01  54291.0            IT
59 2020-12-01  77241.0            HR

In [3]:
expenditure = pd.read_excel('adobe.xlsx',sheet_name='Expenditure')
expenditure

         Date  Actual Spend      Department
0  2020-01-01           85799         Sales
1  2020-01-01           97385    Operations
2  2020-01-01           95259       Account
3  2020-01-01           86532            IT
4  2020-01-01           56743            HR
5  2020-02-01           72466         Sales
6  2020-02-01           53974    Operations
7  2020-02-01           72199       Account
8  2020-02-01           82356            IT
9  2020-02-01           62939            HR
10 2020-03-01           58316         sales
11 2020-03-01           85103    operations
12 2020-03-01           84105       account
13 2020-03-01           92909            it
14 2020-03-01          474743            hr
15 2020-04-01           65755         Sales
16 2020-04-01           78459    Operations
17 2020-04-01           52603    Account
18 2020-04-01           86725            IT
19 2020-04-01           58786            HR
20 2020-05-01           88427         Sales
21 2020-05-01           74473    Operations
22 2020-05-01           62549   Account
23 2020-05-01           89861            IT
24 2020-05-01           66273            HR
25 2020-06-01           86302         Sales
26 2020-06-01           84640    Operations
27 2020-06-01           77205       Account
28 2020-06-01           77944            IT
29 2020-06-01          474585            HR
30 2020-07-01           76910         Sales
31 2020-07-01           97249    Operations
32 2020-07-01           56341       Account
33 2020-07-01           51802            IT
34 2020-07-01           75745            HR
35 2020-08-01           64687         Sales
36 2020-08-01           86980    Operations
37 2020-08-01           53495       Account
38 2020-08-01           61690            IT
39 2020-08-01           81959            HR
40 2020-09-01           64676         Sales
41 2020-09-01           71166    Operations
42 2020-09-01           76046       Account
43 2020-09-01            4493           IT
44 2020-09-01           54246            HR
45 2020-10-01           63022         Sales
46 2020-10-01           61894  Operations
47 2020-10-01           86941       Account
48 2020-10-01           91635            IT
49 2020-10-01           57801         HR
50 2020-11-01           12345         Sales
51 2020-11-01           96888    Operations
52 2020-11-01           70478       Account
53 2020-11-01           62943            IT
54 2020-11-01           72483            HR
55 2020-12-01           92476         SALES
56 2020-12-01           58738    OPERATIONS
57 2020-12-01           56206       ACCOUNT
58 2020-12-01           34532            IT
59 2020-12-01           94216            HR

In [4]:
budget['Department'] = budget['Department'].str.title()  
budget

         Date   Budget    Department
0  2020-01-01  51190.0         Sales
1  2020-01-01  52045.0    Operations
2  2020-01-01  89040.0       Account
3  2020-01-01  68362.0            It
4  2020-01-01  73285.0            Hr
5  2020-02-01  87031.0         Sales
6  2020-02-01  87117.0    Operations
7  2020-02-01  61568.0       Account
8  2020-02-01  70758.0            It
9  2020-02-01  75861.0            Hr
10 2020-03-01  59653.0         Sales
11 2020-03-01  61869.0    Operations
12 2020-03-01  50228.0       Account
13 2020-03-01  51971.0            It
14 2020-03-01  84436.0            Hr
15 2020-04-01  70144.0         Sales
16 2020-04-01  76554.0    Operations
17 2020-04-01  58489.0    Account
18 2020-04-01  78351.0            It
19 2020-04-01  58458.0            Hr
20 2020-05-01  78287.0         Sales
21 2020-05-01  82265.0    Operations
22 2020-05-01  72781.0   Account
23 2020-05-01  85421.0            It
24 2020-05-01  78499.0            Hr
25 2020-06-01  52687.0         Sales
26 2020-06-01  34567.0    Operations
27 2020-06-01  83929.0       Account
28 2020-06-01  58032.0            It
29 2020-06-01  23451.0            Hr
30 2020-07-01  90090.0         Sales
31 2020-07-01  74166.0    Operations
32 2020-07-01  82068.0       Account
33 2020-07-01  58584.0            It
34 2020-07-01  50416.0            Hr
35 2020-08-01  62363.0         Sales
36 2020-08-01  50173.0    Operations
37 2020-08-01  50952.0       Account
38 2020-08-01  56774.0            It
39 2020-08-01  95039.0            Hr
40 2020-09-01  56770.0         Sales
41 2020-09-01  45673.0    Operations
42 2020-09-01  83143.0       Account
43 2020-09-01  99493.0           It
44 2020-09-01  60156.0            Hr
45 2020-10-01  62184.0         Sales
46 2020-10-01  78358.0  Operations
47 2020-10-01  75353.0       Account
48 2020-10-01  86637.0            It
49 2020-10-01      NaN         Hr
50 2020-11-01  82481.0         Sales
51 2020-11-01  58316.0    Operations
52 2020-11-01  89473.0       Account
53 2020-11-01  88414.0            It
54 2020-11-01  67806.0            Hr
55 2020-12-01  72029.0         Sales
56 2020-12-01  68394.0    Operations
57 2020-12-01  50095.0       Account
58 2020-12-01  54291.0            It
59 2020-12-01  77241.0            Hr

In [6]:
expenditure.columns = expenditure.columns.str.strip()
expenditure.columns

Index(['Date', 'Actual Spend', 'Department'], dtype='object')

In [7]:
expenditure['Department'] = expenditure['Department'].str.title()
expenditure

         Date  Actual Spend    Department
0  2020-01-01         85799         Sales
1  2020-01-01         97385    Operations
2  2020-01-01         95259       Account
3  2020-01-01         86532            It
4  2020-01-01         56743            Hr
5  2020-02-01         72466         Sales
6  2020-02-01         53974    Operations
7  2020-02-01         72199       Account
8  2020-02-01         82356            It
9  2020-02-01         62939            Hr
10 2020-03-01         58316         Sales
11 2020-03-01         85103    Operations
12 2020-03-01         84105       Account
13 2020-03-01         92909            It
14 2020-03-01        474743            Hr
15 2020-04-01         65755         Sales
16 2020-04-01         78459    Operations
17 2020-04-01         52603    Account
18 2020-04-01         86725            It
19 2020-04-01         58786            Hr
20 2020-05-01         88427         Sales
21 2020-05-01         74473    Operations
22 2020-05-01         62549   Account
23 2020-05-01         89861            It
24 2020-05-01         66273            Hr
25 2020-06-01         86302         Sales
26 2020-06-01         84640    Operations
27 2020-06-01         77205       Account
28 2020-06-01         77944            It
29 2020-06-01        474585            Hr
30 2020-07-01         76910         Sales
31 2020-07-01         97249    Operations
32 2020-07-01         56341       Account
33 2020-07-01         51802            It
34 2020-07-01         75745            Hr
35 2020-08-01         64687         Sales
36 2020-08-01         86980    Operations
37 2020-08-01         53495       Account
38 2020-08-01         61690            It
39 2020-08-01         81959            Hr
40 2020-09-01         64676         Sales
41 2020-09-01         71166    Operations
42 2020-09-01         76046       Account
43 2020-09-01          4493           It
44 2020-09-01         54246            Hr
45 2020-10-01         63022         Sales
46 2020-10-01         61894  Operations
47 2020-10-01         86941       Account
48 2020-10-01         91635            It
49 2020-10-01         57801         Hr
50 2020-11-01         12345         Sales
51 2020-11-01         96888    Operations
52 2020-11-01         70478       Account
53 2020-11-01         62943            It
54 2020-11-01         72483            Hr
55 2020-12-01         92476         Sales
56 2020-12-01         58738    Operations
57 2020-12-01         56206       Account
58 2020-12-01         34532            It
59 2020-12-01         94216            Hr

In [11]:
df = budget.merge(expenditure,on=['Date','Department'],how='inner')
df['Savings'] = df['Budget'] - df['Actual Spend']
df

         Date   Budget    Department  Actual Spend   Savings
0  2020-01-01  51190.0         Sales         85799  -34609.0
1  2020-01-01  52045.0    Operations         97385  -45340.0
2  2020-01-01  89040.0       Account         95259   -6219.0
3  2020-01-01  68362.0            It         86532  -18170.0
4  2020-01-01  73285.0            Hr         56743   16542.0
5  2020-02-01  87031.0         Sales         72466   14565.0
6  2020-02-01  87117.0    Operations         53974   33143.0
7  2020-02-01  61568.0       Account         72199  -10631.0
8  2020-02-01  70758.0            It         82356  -11598.0
9  2020-02-01  75861.0            Hr         62939   12922.0
10 2020-03-01  59653.0         Sales         58316    1337.0
11 2020-03-01  61869.0    Operations         85103  -23234.0
12 2020-03-01  50228.0       Account         84105  -33877.0
13 2020-03-01  51971.0            It         92909  -40938.0
14 2020-03-01  84436.0            Hr        474743 -390307.0
15 2020-04-01  70144.0         Sales         65755    4389.0
16 2020-04-01  76554.0    Operations         78459   -1905.0
17 2020-04-01  58489.0    Account            52603    5886.0
18 2020-04-01  78351.0            It         86725   -8374.0
19 2020-04-01  58458.0            Hr         58786    -328.0
20 2020-05-01  78287.0         Sales         88427  -10140.0
21 2020-05-01  82265.0    Operations         74473    7792.0
22 2020-05-01  72781.0   Account             62549   10232.0
23 2020-05-01  85421.0            It         89861   -4440.0
24 2020-05-01  78499.0            Hr         66273   12226.0
25 2020-06-01  52687.0         Sales         86302  -33615.0
26 2020-06-01  34567.0    Operations         84640  -50073.0
27 2020-06-01  83929.0       Account         77205    6724.0
28 2020-06-01  58032.0            It         77944  -19912.0
29 2020-06-01  23451.0            Hr        474585 -451134.0
30 2020-07-01  90090.0         Sales         76910   13180.0
31 2020-07-01  74166.0    Operations         97249  -23083.0
32 2020-07-01  82068.0       Account         56341   25727.0
33 2020-07-01  58584.0            It         51802    6782.0
34 2020-07-01  50416.0            Hr         75745  -25329.0
35 2020-08-01  62363.0         Sales         64687   -2324.0
36 2020-08-01  50173.0    Operations         86980  -36807.0
37 2020-08-01  50952.0       Account         53495   -2543.0
38 2020-08-01  56774.0            It         61690   -4916.0
39 2020-08-01  95039.0            Hr         81959   13080.0
40 2020-09-01  56770.0         Sales         64676   -7906.0
41 2020-09-01  45673.0    Operations         71166  -25493.0
42 2020-09-01  83143.0       Account         76046    7097.0
43 2020-09-01  99493.0           It           4493   95000.0
44 2020-09-01  60156.0            Hr         54246    5910.0
45 2020-10-01  62184.0         Sales         63022    -838.0
46 2020-10-01  78358.0  Operations           61894   16464.0
47 2020-10-01  75353.0       Account         86941  -11588.0
48 2020-10-01  86637.0            It         91635   -4998.0
49 2020-10-01      NaN         Hr            57801       NaN
50 2020-11-01  82481.0         Sales         12345   70136.0
51 2020-11-01  58316.0    Operations         96888  -38572.0
52 2020-11-01  89473.0       Account         70478   18995.0
53 2020-11-01  88414.0            It         62943   25471.0
54 2020-11-01  67806.0            Hr         72483   -4677.0
55 2020-12-01  72029.0         Sales         92476  -20447.0
56 2020-12-01  68394.0    Operations         58738    9656.0
57 2020-12-01  50095.0       Account         56206   -6111.0
58 2020-12-01  54291.0            It         34532   19759.0
59 2020-12-01  77241.0            Hr         94216  -16975.0

In [15]:
df['Department'] = df['Department'].str.strip()
df['Department'].unique()

array(['Sales', 'Operations', 'Account', 'It', 'Hr'], dtype=object)

In [16]:
ndf = df.groupby('Department').agg(
    annual_saving = ('Savings','sum')
)
ndf

            annual_saving
Department
Account            3692.0
Hr              -828070.0
It                33666.0
Operations      -177452.0
Sales             -6272.0